datasets==2.15.0
faiss==1.7.4
Flask==3.0.2
hanziconv==0.3.2
jsonlines==4.0.0
mysql-connector-python==9.1.0
numpy==1.24.3
peft==0.7.0
safetensors==0.4.2
torch==2.2.0
tqdm==4.66.3
transformers
gunicorn==22.0.0
wandb==0.16.1
